* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  
  @font-face {
    font-family: 'VCR OSD Mono';
    src: url('./fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {

    align-items: center;
    font-family: 'VCR OSD Mono', 'Century Gothic', Arial;
  }